
.artwork-image {
    display: flex;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .artist-image {
    width: 35px;
    border-radius: 50%;
  }
  
  .info-header {
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1vh;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .info-content {
    width: 90%;
  }
  
  .royalties {
    font-weight: 600;
    font-size: 1.3rem;
  }
  
  .art-edition {
    font-weight: 600;
    font-size: 1.3rem;
    color: black;
  }
  
  .art-text-color {
    color: black !important;
  }
  
  .profile-button:hover {
    background-color: white;
    color: #5870ee;
    border-color: black;
  }
  
  .profile-button {
    margin-top: 20px;
      width: 100%;
      margin-bottom: 20px;
      flex-direction: row;
      justify-content: center;
      padding: 20px 10px;
      background: #768bf9;
      border-radius: 8px;
      height: 58px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -webkit-align-items: center;
      -moz-box-align: center;
      align-items: center;
      text-align: right;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;
      border-color: #768BF9;
      text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
      box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
      border: 1px solid transparent;
      cursor: pointer;
      user-select: none;
      touch-action: manipulation;
  }

  .btn-primary {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
  }

  .btn:not(:disabled):not(.disabled) {
      cursor: pointer;
  }
  [type=reset], [type=submit], button, html [type=button] {
      -webkit-appearance: button;
  }
  .btn-primary {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
  }
  .btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .market-textarea {
    opacity: 0.7;
    margin-bottom: 20px;
  }

  .market-word {
    word-break: break-all;
  }